<div class="container">

    <div class="row" ng-if="errorMessage != null">
        <div class="alert alert-success">{{successMessage}}</div>
    </div>
        <div class="col-md-6" ng-controller="stocksController">

                <table class="table table-hover table-striped table-condensed" ng-show="stocks.length">
                    <h2 class="lead, text-center">All existing stocks</h2>
                    <thead>
                        <td>Name</td>
                        <td>Current Price</td>
                        <td>Last Updated</td>
                        <td></td>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stock in stocks">
                        <td>{{stock.name}}</td>
                        <td>{{stock.currentPrice}}</td>
                        <td>{{stock.lastUpdated | date:'MM-dd-yyyy HH:mm:ss'}}</td>
                        <td>
                            <button type="submit" class="btn btn-success" ng-click="joinGame(game.id)" disabled="true">
                            <span class="glyphicon glyphicon-plus"></span> Join </button>
                            <button class="btn btn-danger" ng-click="deleteGame(game.id)" disabled="true">
                                <span class="glyphicon glyphicon-minus"></span> Delete game </button>
                            </button>
                            <label class="alert-warning">*Not implemented yet.</label>
                        </td>
                    </tr>
                    </tbody>
                </table>

            <div ng-show="!stocks.length">
                No stocks to display.
            </div>
    </div>

</div>
